<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PmDataMapper">
	<insert id="insertPmData" parameterType="PmData">
		insert into pmdata(pm25,pm100,time,station)
		values(#{pm25},#{pm100},#{time},#{station}) 
	</insert>
	<select id="PmDataByStation" parameterType="Integer" resultType="PmData">
		select * 
		from pmdata 
		where station = #{station}
		ORDER BY time DESC
		Limit 24
	</select>
	<select id="findRecentPmList" parameterType="map" resultType="PmData">
		SELECT
		   st.seq AS station,
		   st.station_name,
		   st.sido,
			pm.seq,
			pm.pm25,
			pm.pm100,
			pm.time
		FROM station st
		LEFT JOIN (SELECT
				   pm.seq,
					pm.station,
					MAX(pm.time) AS recent_time
					FROM pmdata pm
					WHERE pm.pm25 IS NOT null 
					AND pm.pm100 IS NOT null
					GROUP BY pm.station
			) rpm
		  ON st.seq = rpm.station
		LEFT JOIN pmdata pm 
		  ON rpm.station = pm.station AND rpm.recent_time = pm.time
		  <if test="sido != null">
			 WHERE sido = #{sido} 
		  </if>
		  <if test="station != null">
		  	 WHERE st.seq = #{station}	
		  </if>
	</select>
	<select id="findRecentPmByStation" parameterType="integer" resultType="PmData">
	    SELECT
		   st.station_name,
		   st.sido,
			pm.*
		FROM station st
		LEFT JOIN (SELECT
				   pm.seq,
					pm.station,
					MAX(pm.time) AS recent_time
					FROM pmdata pm
					WHERE pm.station = #{station}
			) rpm
		  ON st.seq = rpm.station
		LEFT JOIN pmdata pm 
		  ON rpm.station = pm.station AND rpm.recent_time = pm.time
	   WHERE st.seq = #{station}
	</select>
	<select id="findByBookMarkUser" parameterType="Integer" resultType="map">
		SELECT
		   sb.*,
		   us.* 
		from station_bookmark sb
		join user us
		 ON sb.user = us.seq
		where sb.station = #{stationSeq}
	</select>
	<insert id="loadRecentPm" parameterType="PmData">
		INSERT INTO recent_pm(pm25, pm100, time,station)
 			VALUES(#{pm25},#{pm100},#{time},#{station})
	</insert>
	<select id="findPrevPmData" resultType="PmData">
		select * 
		from recent_pm 
	</select>
	<delete id="clearRencetPm">
		delete from recent_pm 
	</delete>
	<delete id="clearMailingList">
		delete from pm_mailing
	</delete>
</mapper>