<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StationMapper">
	<insert id="insertStation" parameterType="Station">
		insert into Station(station_name,station_addr,station_lat,station_lng,sido)
		values(#{station_name},#{station_addr},#{station_lat},#{station_lng},#{sido}) 
	</insert>
	
	<select id="findStationByName" parameterType="Map" resultType="Station">
		select * 
		from station 
		where station_name=#{name}
		and sido=#{sido}
	</select>
	
	<select id="findBySeq" parameterType="Integer" resultType="Station" >
		select * 
		from station 
		where seq=#{seq}
	</select>
	
	<select id="findStationsBySido" parameterType="String" resultType="Station">
		select * 
		from station 
		where 
			1 = 1
		<if test="sido != null">
			AND
			sido=#{sido}
		</if>
	</select>
	
	<select id="findBookmark" parameterType="Map" resultType="Map">
		select * 
		from station_bookmark 
		where user = #{userSeq}
		and station = #{stationSeq}
	</select>
	
	<insert id="insertBookmark" parameterType="Map">
		INSERT INTO station_bookmark (user, station) 
		VALUES (#{userSeq}, #{stationSeq});
	</insert>
	
	<delete id="deleteBookmark" parameterType="Map">
		delete from station_bookmark 
		where user = #{userSeq} 
		and station = #{stationSeq}
	</delete>
	
	<update id="updatePmData" parameterType="Map">
		update station_bookmark 
		set ${pmType} = #{pmValue}
		where user = #{userSeq}
		and station = #{stationSeq}    
	</update>
	
	<select id="findNotification" parameterType="Map" resultType="Map">
		select * 
		from station_bookmark 
		where user = #{seq} 
		and station = #{stationSeq}
	</select>
	
	<select id="findBookMarkByUser" parameterType="Integer" resultType="map">
		SELECT * 
		FROM station_bookmark sb 
		JOIN station s 
		ON  s.seq = sb.station
		WHERE sb.user = #{userSeq}
	</select>
	
	<delete id="DeleteBookMark" parameterType="map">
		delete from station_bookmark
		where user = #{userSeq} 
		 and station = #{stationSeq}
	</delete>
	
	<update id="UpdateNotify" parameterType="map">
		update station_bookmark 
 		set notify = #{notify}
 		where user = #{userSeq}
 		and station = #{stationSeq}
	</update>
	
	<select id="findPmMailingList" resultType="map">
		select * 
		from pm_mailing
		where sent = 'N' 
	</select>
	
	<insert id="loadUserBookmark">
		INSERT INTO pm_mailing(user,station,pm25,pm100)
	       SELECT user, station, pm25, pm100 
			 FROM station_bookmark 
			 WHERE notify='Y'
	</insert>
	
	<update id="updateMailingSent" parameterType="map">
		UPDATE pm_mailing
		SET sent = 'Y'
		WHERE user = #{userSeq}
		AND station = #{stationSeq}
	</update>
	
	<select id="stationDetail" resultType="map" parameterType="int">
		SELECT * 
		FROM pmdata
		WHERE station = #{id}
		ORDER BY `time` desc
	</select>
</mapper>