<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<insert id="join" parameterType="Map">
		insert into user(email,password)
		values(#{email},#{pwd}) 
	</insert>
	
	<select id="login" parameterType="Map" resultType="User">
		SELECT * 
		FROM USER
		WHERE EMAIL = #{email} 
		AND PASSWORD = #{pwd}
	</select>
	
	<select id="findByEmail" parameterType="String" resultType="User">
		SELECT * 
		FROM USER
		WHERE EMAIL = #{email} 
	</select>
	
	<update id="updatePass" parameterType="map">
		update user 
		set password = #{newPass}
		where seq = #{userSeq}
	</update>
	
	<select id="findByUserSeqAndPw" resultType="User" parameterType="map">
		select * 
		from user 
		where seq = #{userSeq} and password = #{curPass}
	</select>
</mapper>