@charset "UTF-8";
html {
	font-size: 12px; /* 1rem */
}
.pm-box {
	border-radius: 8px;
}
.pm-box > .station-name {
	margin:0;
}

.pm-box > .pm-data {
	margin: 0;
    padding: 0;
    list-style: none;
}

#station-popup {
	position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #ffffffdd;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.hide-it {
	display: none !important;
}
.user-info {
	float: right;
}

.error {
    background-color: #ffe4e4;
    padding: .5rem 1rem;
    display: block;
    color: #872c01;
}

.bookmarks {
	display: flex;
    flex-direction: row;
}

.bookmarks .sido {
	padding: 12px;
    border: 1px solid #ccc;
    margin-right: 12px;
}
.bookmarks .sido .stations {
	padding-left: 0px;
    list-style: none;
}