.popup-bg {
    z-index: 2;
    position: fixed;
    background-color: #0000004d;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup-bg .popup-container {
    background-color: white;
    position: absolute;
    width: 400px;
    /*height: 300px;*/
    top: 50%;
    left: 50%;
    padding: 24px;
    transform: translate(-50%, -50%);
}

.popup-bg .popup-container input {
	width: 100%;
	padding : 8px 8px 8px 32px;
}
.popup-bg .popup-container .item {
	margin-bottom: 8px;
	position: relative;
}
.popup-bg .popup-container .item img.form-icon{
	position: absolute;
    top: 50%;
    left: 4px;
    transform: translate(0px, -50%);
 }
 
.mgt-1rem {
	margin-top: 2rem;
}
